/* Paleta de colores                       */
/* #69D2E7,#A7DBD8,#E0E4CC,#F38630,#FA6900 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none; 
    list-style-type: none;
}

/* Estilos generales */

.body {
    background-image: linear-gradient(to top, #e0e4cc, #d6e3cb, #cae1cb, #bfe0cd, #b4ded1, #abddd3, #a2dbd6, #99d9da, #8ed7dc, #82d6df, #76d4e3, #69d2e7);
}
footer {
    height: 38vh;
}

/* header: img en fondo, con logo y titulo vinculados */
.header-container{
    background: url(../assets/HeaderMontaña.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 9px black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 105px);
    grid-template-areas: 
    "nav--fixed nav--fixed nav--fixed nav--fixed"
    "div--header div--header div--nav div--nav"
    "div--header div--header div--nav div--nav"
    "div--header div--header div--nav div--nav"
    ;
}
.div--header {
    grid-area: div--header;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logo--globo {    
    background-color: none;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo--header { 
    color: #E0E4CC;
    margin-left: 30px;
    font-size: 40px;
    background: none;
    display: flex;
    align-items: flex-end;
}

/* nav header 4 secciones vinculadas a cada .html */

.div--nav {
    grid-area: div--nav;
    display: flex;
    justify-content: end;
    align-items: start;    
}
.nav--header a:hover {
    transform: scale(1.1);
    box-shadow: 3px 1px #69d2e7;
}
.nav--header--img {    
    width: 55px;
    height: 55px;
    margin-top: 5px;
}
.nav--header ul {
    display: flex;
    text-align: center;   
}
.nav--header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: #F38630;
    color: #E0E4CC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0px 30px;
}

/* nav fixed al inicio de pagina (top: 0;)*/

.nav--fixed {
    grid-area: nav--fixed;
    background-color: #f38530e1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    width: 100%;
    height: 95px;  
    text-align: center;
}
.nav--fixed--ul {
    margin-top: 15px;
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.nav--fixed--ul img {
    width: 45px;
}
.nav--fixed--ul li {
    display: flex;
    justify-content: center;
}
.nav--fixed a {
    display: flex;
    flex-direction: column;    
    height: 80px;
    align-items: center;
    color: #E0E4CC;
}
/* .nav--fixed a:hover {
    
} */

/* cuadro de busqueda rapida */

.busqueda-container {
    margin: 20px 40px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: repeat(4, 100px);
    /* grid-template-areas: 
    "p p p"
    "origen origen origen"
    "destino destino destino"
    "reservas reservas reservas"
    "buscar buscar buscar";*/
    /* justify-content: center;
    align-content: center;
    justify-items: center; */
    color: #E0E4CC;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #F38630;    
}
.busqueda-container p { 
    /* grid-area: p; */
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    color: #E0E4CC;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
}
.origen {
    /* grid-area: origen; */
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    justify-content: center;
    background-color: olive;
}
.destino {
    /* grid-area: destino; */
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background-color: palevioletred;
}
.reservas {
    /* grid-area: reservas; */
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-color: crimson;
}
label {
    margin-left: 30px;
}
.busqueda-container input {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: center;
    background-color: #E0E4CC;
    margin: 10px 20px 10px;
    border-radius: 5px;
    border: none;
    padding: 5px;    
}
.button--busqueda--rapida {
    /* grid-area: buscar; */
    background-color: #69d2e7;  
    color: #E0E4CC;
    font-size: 25px;
    width: 100px;
    margin: 10px 30px 15px 250px;
    border-radius: 5px;
    cursor: pointer;
}

/* seccion destinos mas visitados */

.section--destinos {
    text-align: center;
}
.pin {
    display: inline-block;
    width: auto;
    height: 105px;
    background-color: #E0E4CC;
    margin-top: 30px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 0px;    
}
.section--destinos h2 {
    background-color: #E0E4CC;
    color: #F38630;
    border-radius: 20px;
    margin: 0 0 25px 10px;
    padding: 0 10px;    
    display: inline-block;
    font-size: 45px;
}
.section--destinos h2 a {
    color:#F38630;
}
.cards--destinos {
    background-color: #F38630;
    border: 2px solid transparent;
    width: 570px;
    border-radius: 10px;
    margin: 0 30px 15px 50px;
    display: inline-block;
}
.fotoDestinos {
    width: 535px;
    max-height: 300px;
    margin: 15px 0 10px 0px;
    border-radius: 10px;
    object-fit: auto;
}
.parrafo--destinos {
    margin: 0 30px 20px;    
}
.parrafo--destinos p {
    color: #E0E4CC;   
}
.button--quieroViajar {
    background-color: #69d2e7;
    color: #E0E4CC;
    border-radius: 10px;
    font-size: 22px;
    padding: 12px 12px;
    margin: 0 190px 20px ;
    display: inline-block;
    width: 170px;    
}

/* seccion APP */

.app {
    background-color: #F38630;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    width: 600px;
}
.app--img {
    display: inline-block;
    margin: 20px 10px 20px 10px;
    text-align: center;
}
.app--img img {    
    background-color: none;
    width: 150px;
}
.app h3 {
    color: #E0E4CC;
    font-size: 50px;
    display: inline-block;
    margin: 0 10px 30px 30px; 
}
.app p {
    color: #E0E4CC;
    width: 500px;
    display: inline-block;
}
.app--img--qr {
    background-color: #E0E4CC;
    border-radius: 20%;
    width: 200px;
    padding: 35px;
    margin: 20px;
}

/* seccion suscripciones */

.subs {
    background-color: #F38630;
    height: 380px;
    width: 600px;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
}
.subs--texto h3 {
    text-align: center;
    color: #E0E4CC;
    font-size: 40px;
    margin: 20px;
}
.subs p {
    color: #E0E4CC;    
    font-size: 30px;
    text-align: center;
}
.subs--img {
    text-align: center;
}
.logo--subs {
    width: 100px;
    margin: 20px;
}
.subs input {
    background-color: #69d2e7;
    border: none;  
    width: 200px;
    font-size: 25px;
    color: #E0E4CC;
    margin: 20px 0px 15px 0px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: #F38630;
    border-radius: 10px;
    height: auto;
    margin: 0 auto;
}
.div--redes { 
    height: 90px;   
    text-align: center;
    margin: 20px;
}
.logo--redes {
    background-color: none;
    width: 70px;
    display: inline-block;
    margin: 10px 40px;
}
footer h4 {
    color: #E0E4CC;
    font-size: 40px;   
    margin: 10px 0;
}
.div--mapa {
    margin: 0 auto;
    width: 450px;
    text-align: center;
}
.logo--mapa {
    background-color: none;
    width: 100px;
    cursor: pointer;
}
.div--geaweb{
    text-align: center;    
}
.logo--geaweb {
    background-color: #E0E4CC;
    border-radius: 50%;
    margin: 20px auto 10px auto;
    padding: 5px;
    width: 70px;
    display: block;    
}
footer p {
    background-color: #E0E4CC;
    color: #F38630;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 22px;
}

/* Inicio sesion.html */

.inicio--sesion {
    background-color: #F38630;
    width: 40vw;
    height: 380px;
    border-radius: 10px;
    margin: 40px auto;
    text-align: center;
}
.inicio--sesion h2 {
    color: #E0E4CC;
    font-size: 60px;
    text-align: center;
}
.div--sesion img {
    width: 50px;
    margin: 5px;
    text-align: center;
}
.div--sesion input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: 30px;
    cursor: pointer;
}
.lista--inicio--sesion {
    text-align: center;
}
.lista--inicio--sesion input {
    background-color: #E0E4CC;
}
.inicio--sesion h3 {
    color: #E0E4CC;
    font-size: 30px;
}

/* crearCuenta.html */

.section--crear--cuenta {
    background-color: #F38630;
    width: 700px;
    text-align: center;
    border-radius: 10px;
    margin: 30px auto;
}
.section--crear--cuenta h2 {
    color: #E0E4CC;
    font-size: 65px;
}
.form--cuenta--nueva {
    background-color: #F38630;
    margin: 20px auto;
    padding-top: 5px;
    width: 420px;
    border-radius: 10px;
    text-align: center;
}
.form--cuenta--nueva fieldset {
    width: 420px;
    margin: 0 auto;
}
.form--cuenta--nueva legend {
    font-size: 25px;
}
.form--cuenta--nueva input {
    background-color: #E0E4CC;
    margin: 10px 20px 10px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.input--cuenta--nueva {
    font-size: 30px;
    font-weight: bold;
    color: #69d2e7;
    cursor: pointer;
}

/* Nosotros.html */

.somos--titulo {
    background-color: #F38630;
    text-align: center;
    border-radius: 10px;
    margin: 30px auto;
    width: 600px;
}
.somos--titulo h1 {
    color: #E0E4CC;    
    font-size: 75px;
}
.nosotros--logo--globo {    
    background-color: none;
    margin: 15px 0;
    width: 150px;
}
.div--nosotros--fotos {
    border-radius: 10px;
    width: 72vw;
    padding: 5px;
    margin: 0 auto;
}
.div--nosotros--fotos img {
    border-radius: 10px;
    padding: 5px;
    width: 400px;
}
.div--nosotros--texto {
    background-color: #F38630;
    border-radius: 10px;
    height: 300px;
    margin: 30px 35px;
}
.div--nosotros--texto h2 {
    color: #E0E4CC;
    margin: 0 20px;
    font-size: 65px;
}
.div--nosotros--texto p {
    color: #E0E4CC;
    text-align: justify;
    margin: 10px 20px;
}
/* TABLET RESPONSIVE */
@media (max-width: 768px) {
    
}
/* MOBILE RESPONSIVE */
@media (max-width: 576px) {
    
}