.header-container{
    background-image: url(../assets/headerMontana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 9px black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 105px);
    grid-template-areas: 
    "nav--fixed nav--fixed nav--fixed nav--fixed"
    "div--header div--header div--nav div--nav"
    "div--header div--header div--nav div--nav"
    "div--header div--header div--nav div--nav";
    .nav--fixed {
        grid-area: nav--fixed;
        background-color: $color-orange;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: fixed;
        width: 100%;
        height: 95px;  
        text-align: center;
        ul { 
            @include flex(row,space-around,start);
            margin-top: 15px;
            height: 80px;        
            li {
                @include flex(row,center,start);
                a {
                    @include flex(column,start,center);
                    height: 80px;
                    color: $color-white;
                    img {
                        width: 45px;
                    }
                }
            }
        }
    }
    .div--header {
        grid-area: div--header;
        @include flex(row,center,center);    
        img {
            @include flex(row,center,center);    
            background-color: none;
            width: 200px;
            height: 200px;
        }
        h1 {
            @include flex(row,start,end); 
            color: $color-white;
            margin-left: 30px;
            font-size: 60px;
            animation-name: tracking-in-expandp;
            animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        @keyframes tracking-in-expand {
            0% {
            letter-spacing: -0.5em;
            opacity: 0;
            }
            40% {
            opacity: 0.6;
            }
            100% {
            opacity: 1;
            }
        }
    }
    .div--nav {
        grid-area: div--nav;
        @include flex(row,end,start);
        ul {
            @include flex(row,start,start);
            text-align: center;
            a {
                @include flex(column,center,center);   
                background-color: $color-orange;
                color: $color-white;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                margin: 0px 30px;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 3px 1px $color-blue;
                    
                }
                img {    
                    width: 55px;
                    height: 55px;
                    margin-top: 5px;
                }
            }
        }
    }
}