.header-container{
    background-image: url(../assets/headerMontana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 9px black;
    width: 100%;
    height: auto;
    nav {
        @include flex(row,end,none);
        background-color: $color-orange;
        height: 50px;
        img {
            width: 40px;
        }
        label {
            margin-left: 10px;
            font-size: 22px;
            color: $color-white;
            cursor: pointer;
        }
    }
    .div--header {
        @include flex(column,center,center);
        margin-top: 20px;
        a {
            @include flex(column,none,center);
            img {
                @include flex(column,center,center);    
                background-color: none;
                width: 200px;
                animation-name: tracking-in-expand;
                animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
            h1 {
                @include flex(row,start,end); 
                color: $color-white;
                font-size: 60px;
                animation-name: tracking-in-expand;
                animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
        }   
        
        @keyframes tracking-in-expand {
            0% {
            letter-spacing: -0.5em;
            opacity: 0;
            }
            40% {
            opacity: 0.6;
            }
            100% {
            opacity: 1;
            }
        }
    }
    
}