@media (max-width: 576px) {
    .header-container {
        @include flex(column,none,none);
        width: 100%;
        height: 290px;        
        .div-header{
            @include flex(column,none,end);
            img {
                width: 190px;
                height: 190px;
            }
            h1 {
                font-size: 10px; 
            }
        }
    }
    .busqueda-grid {
        width: 100%;
    }
    .destinos {
        width: 100%;
        .div-destinos {
            width: 100%;
            .cards-destinos {
                height: auto;
                align-self: center;
                .parrafo--destinos {
                    margin: 0 30px;
                    p {
                    font-size: 14px;
                    }
                }
            }
        }
    }
    .sugerencias {
        width: 100%;
        .app {
            width: 91%;
            height: 390px;
            .app-phone {
                width: 100px;
                height: 105px;
            }
            h3 {        
                width: 100%;
            }
            p{
                width: 91%;
            }
            .app-qr {
                
                width: 150px;
            }
        }
        .subs {
            justify-self: center;
            width: 88%;
            height: 390px;
            .logo-subs {
                width: 100px;
                margin: 0;
            }
        }
    }
    footer{
        width: 100%;
        margin-top: 20px;
        .div--redes {
            display: grid;
            grid-template-columns: repeat(2, 80px);
            grid-template-rows: repeat(2, 70px);
        }
        .div--geaweb {
            width: 100%;
            p {
                height: 75px;
                width: 100%;
            }
        }
    }
    
    .inicio--sesion h2 {
        font-size: 40px;
    }
    .div--sesion img {
        width: 50px;
        input {
            height: 50px;
        }
    }
    .section-crear-cuenta{
        width: 100%;
    }    
    .nosotros-logo-globo {
        width: 100px;
    }
    .somos-titulo {
        width: 100%;
        h1 {
            font-size: 50px;
        }
    } 
    .div-nosotros-fotos{
        @include flex(column,none,center);
    }
}